<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Default Settings -->
    <add key="EndPoint" value="http://web8-fzib8sgy.cloudapp.net/webservices/CoreService2013.svc"/>
    <add key="Username" value="Web8\\MRGN"/>
    <add key="Password" value="PASSWORD" />
    <add key="isSessionAware" value="false" />
  </appSettings>
</configuration>
